:root {
	font-family: sans-serif;
	font-size: 10pt;

	--APRTextColor: #555;
	--APRLinkColor: black;
	--APRPadding: 10px;
}

body {
	display: flex;
	height: 100vh;
	padding: 0;
	
	margin: 0;

	background: #f4f4f4;
	color: var(--APRTextColor);
}

a {
	color: var(--APRLinkColor);
}

body div {
	flex-grow: 1;
	padding: var(--APRPadding);
	border-radius: 2px;

	margin: var(--APRPadding);

	background: #ddd;
}

hr {
	border: 1px solid white;
}

.APRVitrineList {
	padding-left: calc(var(--APRPadding) * 3);
}

.APRRandomTargetName {
	font-weight: bold;
}

.APRRandomTargetBlurb {
	margin: 0;
}
